

#canvas1 {
    margin: 0 auto;
    text-align: left;
    background-color: black;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#bgdiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background-color: #a6a6a6;
    background-image: url("../../dist/art/bg.jpeg");
    height: 100%;
    text-align: center;
}

#bg {
    background-repeat: repeat-x;
}

#mat {
    background-image: url("../../dist/art/mat.png");
    height: 275px;
    width: 1026px;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    
}

.card-slot, .deck-slot{
    height: 200px;
    border-radius: 28px;
    width: 120px;
    z-index: 1;
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px
}

.card-slot:hover {
    border: 5px solid yellow;
    padding: 0px
}

.card {
    position: absolute;
    top: -42px;
    left: -28px;
    width: 177px;
    height: 260px

}

